<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>981606975474-p48llldd6tf83lsbr75vmitueomtob53.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.981606975474-p48llldd6tf83lsbr75vmitueomtob53</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>981606975474-ghdarr20fj8eed4ju703l2b9ul03fb59.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBoIrTr0vqO3RYpAn5gXRpaNq3M_vc5X6g</string>
	<key>GCM_SENDER_ID</key>
	<string>981606975474</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ottPlatformApp</string>
	<key>PROJECT_ID</key>
	<string>visankabackend</string>
	<key>STORAGE_BUCKET</key>
	<string>visankabackend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:981606975474:ios:feb38d91c7a7860e164d6b</string>
</dict>
</plist>